body {
  background-color: #FAFAFA;
  font-family: "Inter", "Arial", sans-serif;
}

.page {
  max-width: 1280px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
