.login {
    width: calc(100% - 442px*2);
    padding: 70px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login__fields {
    margin-bottom: 155px;
}

.auth__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 40px 0;
}

.auth__form {
    width: 100%;
}

.auth__fields {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0 0 69px 0;
}

.auth__input-name {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0 0 10px 0;
}

.auth__input {
    width: calc(100% - 15px*2);
    margin: 0 0 10px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #F4F4F4;
    transition: outline-color 0.2s ease-in-out;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.auth__input:focus {
    outline-color: #3456F3;
}

.auth__input:invalid {
    color: #EE3465;
    outline-color: #3456F3;
}

.auth__error {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    min-height: 12px;
}

.auth__submit-error {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #FF004C;
    width: 100%;
    min-height: 16px;
    margin-bottom: 10px;
}

.auth__submit-button {
    background-color: #3456F3;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 45px;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.auth__submit-button_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.auth__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.auth__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 16px 0 0 0;
    align-self: center;
}

.auth__link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    margin: 0 0 0 6px;
    transition: opacity 0.3s ease-in-out;
}

.auth__link:hover {
    opacity: 0.7;
}